<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>News App</title>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="css/home.css" />
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <script>
      const NewsAPI = require("newsapi");
      const moment = require("moment");
      const newsapi = new NewsAPI("8717edacdc164636841ed4b6c551b178");
      document.addEventListener("DOMContentLoaded", function() {
        new Vue({
          el: "#mainDiv",
          data: {
            news: [],
            filter: "",
            singleView: null
          },
          created: function() {
            newsapi.v2
              .topHeadlines({
                sources: "bbc-news",
                language: "en"
              })
              .then(response => {
                this.news = response;
                console.log(response);
              });
          },
          methods: {
            goToSingleView($index) {
                this.singleView = $index;
                console.log("osem");
            },
            back() {
                this.singleView = null;
            }
          },
          filters: {
            dateF: date => moment(date).format("DD. MM. YYYY")
          }
        });
      });
    </script>
  </head>

  <body>
    <div id="mainDiv" style="padding: 2vw">
      <div v-if="singleView">{{ singleView }}</div>
      <div v-else>
        <div class="row">
          <h2 class="white-force ui header">
            <i class="braille icon"></i>
            <div class="content">
              News
              <div class="sub header">What is going on round the globe</div>
            </div>
          </h2>
          <div class="ui category search">
            <div class="ui icon input">
              <input
                v-model="filter"
                class="prompt"
                type="text"
                placeholder="Filter articles..."
              />
              <i class="search icon"></i>
            </div>
          </div>
        </div>
        <br />
        <div class="ui link cards">
          <div
            style="width: 30vw"
            class="card"
            v-for="(article, $index) in news.articles.filter(x => x.title.toLowerCase().includes(filter))"
            v-on:click="goToSingleView($index)"
          >
            <div class="image">
              <img v-bind:src="article.urlToImage" />
            </div>
            <div class="content">
              <div class="header">{{ article.title }}</div>
              <div class="meta">
                <a>Friends</a>
              </div>
              <div class="description">
                {{ article.content }}
              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                {{ article.publishedAt | dateF }}
              </span>
              <span>
                <i class="user icon"></i>
                {{ article.author }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
