<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Buttons</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"
        type="text/css" />
    <link rel="stylesheet" href="css/home.css" />
    <script src="js/home.js"></script>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <div class="container">
        <h1>
            <div>
                Welcome to a week with Electron-JS
            </div>
        </h1>
    </div>
</body>

</html>